#myInjectButton {
  padding: 9.5px 16px;
  background-color: transparent;
  font-weight: 500;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 0.875rem;
}

#myInjectButton img {
  width: 17px;
  height: 17px;
  margin-right: 5px;
  border-radius: 50%;
}

#myInjectButton .contentWrapper {
  display: flex;
  align-items: center;
}

#myInjectSmallButton {
  width: 24px;
  height: 24px;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 2px;
  cursor: pointer;
}

.custom-iframe {
  position: absolute;
  top: 24em;
  right: 3em;
  width: 373px;
  height: 438px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  z-index: 999999;
  background-color: white;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: scale(0);
  opacity: 0;
}

.custom-iframe.active {
  transform: scale(1);
  opacity: 1;
}

.user-profile-iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60em;
  height: 43em;
  border: none;
  border-radius: 17px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  z-index: 999999;
  background-color: white;
}
