.container {
  background-color: #ffffff;
  padding: 20px;
  width: 325px;
  margin: -12px;
  font-family: Arial, sans-serif;
}

.heading {
  color: #333;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 4px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.logo-header {
  display: flex;
  align-items: center;
}

.head-divider {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  margin: 18px 0px 6px 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.google-button,
.logout-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  margin-top: 5px;
  background-color: #ffffff;
  color: #757575;
  border: 1px solid #dadce0;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.google-button:hover,
.logout-button:hover {
  background-color: #f8f9fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border-color: #c6c8cc;
  color: #5f6368;
}

.google-button:active,
.logout-button:active {
  background-color: #ececec;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.google-logo {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.user-pic {
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #ddd;
  object-fit: cover;
  margin-left: 20px;
  cursor: pointer;
}
.user-pic:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.table-container {
  display: table;
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
}

.table-row {
  display: table-row;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #ddd;
  cursor: pointer;
}
.table-row:hover {
  background-color: #f3f3f3;
}

.table-cell {
  display: table-cell;
  padding: 10px;
  font-size: 12px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.icon {
  margin-right: 10px;
}
