.tab-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 73.5em;
  height: 40em;
  display: flex;
  border: none;
  border-radius: 17px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  z-index: 999999;
  background-color: white;
}

.container {
  background-color: #ffffff;
  padding: 20px;
  margin: 5px;
  font-family: Arial, sans-serif;
}

.heading {
  color: #333;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 3px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 12px;
}

.logo-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5em;
  margin-top: 0.3em;
}
.profile-header {
  display: flex;
  align-items: center;
  border-radius: 50%;
  margin-right: 10px;
}

.content-container {
  width: 57em;
  margin-left: auto;
}

.close-button {
  margin-top: 0px;
  height: 35px;
  width: 35px;
  font-size: 20px;
  color: black;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.head-divider {
  width: 59em;
  border: none;
  border-bottom: 1px solid #ccc;
  margin: 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-profile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 53em;
  height: 15em;
  padding: 3em;
  box-sizing: border-box;
  margin-top: 8em;
}

.user-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
  margin-bottom: 20px;
}

.user-name {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin: 5px 0;
}

.user-email {
  font-size: 18px;
  color: #666;
  margin: 5px 0;
}

.user-pic {
  flex: 0 0 auto;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #ddd;
  object-fit: cover;
  margin-left: 20px;
}

.subscribe {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
  color: #333;
}

.no-profile {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
  color: #333;
}

.sidebar {
  width: 160px;
  padding: 10px;
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar .menu-item {
  padding: 15px;
  cursor: pointer;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 14px;
  color: #333;
}

.sidebar .menu-item:hover,
.sidebar .menu-item.active {
  background-color: #e0e0e0;
  color: 333;
}

.sidebar .menu-item.active {
  color: #ffffff;
  background-color: #1dbf73;
}

.sidebar button {
  margin-top: auto;
}

.delete-button {
  background-color: #eeeeee;
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button:hover {
  color: #ffffff;
  background-color: #d32f2f;
}

.spinner {
  border-radius: 50%;
  border-top: 3px solid #1dbf73;
  width: 6em;
  height: 6em;
  animation: spin 1s linear infinite;
  margin: 14em auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
